@import "tailwindcss";

*{
     font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
}

/* TableRow border radius*/
.MuiTableRow-root td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.MuiTableRow-root td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
